<CoverageParams>
  <TargetExecutable></TargetExecutable>
  <TargetArguments></TargetArguments>
  <Output></Output>
  <Filters>
    <IncludeFilters>
      <FilterEntry>
        <ModuleMask>SEEK.Automation.Simulator.*</ModuleMask>
      </FilterEntry>
    </IncludeFilters>
    <ExcludeFilters>
      <FilterEntry>
        <ModuleMask>*Tests*</ModuleMask>
      </FilterEntry>
    </ExcludeFilters>
  </Filters>
</CoverageParams>
